/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .hidden {
    display: none;
  }

  #app-interface {
    text-align: center;
  }
  
  #song-container {
    margin-top: 20px;
  }
  
  #song-player {
    width: 100%;
    max-width: 400px;
  }
  